{#<!-- 🩶 TOP STATIC HEADER -->#}
{#{% load static %}#}
{##}
{#<div class="sportslotto-topbar">#}
{#  <div class="topbar-inner">#}
{#    <div class="topbar-left">#}
{#<a href="/slv/home" class="topbar-title-link">#}
{#        <!-- Theme-reactive logo -->#}
{#        <img id="site-logo" src="{% static 'sportslottovip/img/purple.png' %}">#}
{#      </a>#}
{#    </div>#}
{##}
{#    <div class="topbar-right">#}
{#      <a href="#" class="topbar-btn" id="loginTrigger">Login</a>#}
{#      <a href="https://play.sportslotto.vip/register/" class="topbar-btn register">Register</a>#}
{#    </div>#}
{#  </div>#}
{#</div>#}