{% extends "lobby/dashboard/index.html" %}
{% load django_bootstrap5 %}
{% load mathfilters %}
{% load humanize %}
{% block MINERVE_PAGE_SUBTITLE %}: Cashier - Pending Transactions{% endblock %}

{% block DYNAMIC_DASHBOARD_BODY %}
<div class="card w-100 h-100 m-2 p-2" data-bs-theme="{{ MINERVE_BODY_THEME }}">
    <div class="card-header">
        <h1> <i class="fa-duotone fa-solid fa-clock" style="color: #dd8fda;"></i> &#160;Pending Transactions </h1>
        <p>These are all your pending transactions scheduled in the Cashier.<br/>
        Please remember that Crypto transactions take some time to clear; and they may appear as 'pending' for a few minutes after all the funds have been received.</p>


    <div class="card-body">
           <table class="table table-responsive table-hover text-center table-striped">
            <thead>
                <tr>
                    {% for row in table_header_rows %}
                        <th scope="row">{{ row }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_rows %}
                    <tr>
                        <td>
                            {% if row.type == "w" %}
                                <i class="fa-duotone fa-solid fa-bag-shopping text-primary" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa-duotone fa-solid fa-shopping-cart text-purple" aria-hidden="true"></i>
                            {% endif %}
                            {{ row.get_type_display }}
                        </td>
                        <td>{{ row.txn_id }}
                           {% if row.type == "w" %}
                               <br/>
                               {% if not row.confirmed %}
                               <a href="/cashier/exchange/resend/{{ row.uuid }}">Re-send Confirmation Email</a>
                               {% else %}
                                   <span class="text-muted">(Confirmed and waiting for disbursement.)</span>
                               {% endif %}
                            {% endif %}
                        </td>
                        <td>{{ row.updated }}</td>
                        <td>{{ row.currency1 }}</td>
                        <td>{{ row.amount1 }}</td>
                        <td>{{ row.currency2 }}</td>
                        <td>{{ row.amount2 }}</td>
                        <td>{{ row.received }}</td>
                        <td>{{ row.amount2|sub:row.received }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
</div>


{% endblock %}

{% block DYNAMIC_DASHBOARD_SIDE_MENU_HEADER %}
    <div class="row">
    <div class="col pt-2 pb-2">
    <a class="nav-link" href="/my/profile" title="My Account"><i class="fa-duotone fa-solid fa-circle-user pe-2"></i> #{{ account.acctnum }}</a>
    </div>
    <div class="col pt-2 pb-2">
        <a href="#" onclick="{% if vdomain.demo_mode %}alert('Cashier disabled in Demo.') {% else %} cashier.start_deposit_modal() {% endif %}" id="balance-link" title="Available Balance">
        <i class="fa-duotone fa-solid fa-coins pe-2"></i><span class="avail_balance">Balance: {{ available_balance |floatformat:2 }}</span></a>
    </div>
    </div>
    <hr class="border-2 border-opacity-50 border-success"/>
{% endblock %}