{% extends "sportslottovip/base/page.html" %}
{% load static %}
{% block bootstrap5_title %} SPORTSLOTTO.VIP: Consolation Payout Table {% endblock %}
{% block PAGE_BODY %}

<section id="sportslotto-consolation" style="padding:70px 5%;">

  <div class="payout-table-wrapper">


    <h1>Consolation Payout Table</h1>
      <hr>
      <table class="styled-table">
        <thead>
          <tr>
            <th>Events</th>
            <th>Maximum Losses</th>
            <th>Minimum Bet</th>
            <th>Maximum Bet</th>
            <th>Players Percentage</th>
            <th>Maximum Payout</th>
          </tr>
        </thead>
        <tbody>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1000</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>500</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>85</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>7</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>8</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>9</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>9</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>10</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>10</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>11</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>11</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>100</td>
      <td>80</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>12</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>12</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>12</td>
      <td>2</td>
      <td>1</td>
      <td>100</td>
      <td>80</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>13</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>13</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>13</td>
      <td>2</td>
      <td>1</td>
      <td>100</td>
      <td>80</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>14</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>14</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>14</td>
      <td>2</td>
      <td>1</td>
      <td>100</td>
      <td>80</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>14</td>
      <td>3</td>
      <td>1</td>
      <td>100</td>
      <td>70</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>15</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>15</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>15</td>
      <td>2</td>
      <td>1</td>
      <td>100</td>
      <td>80</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>16</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>16</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>16</td>
      <td>2</td>
      <td>1</td>
      <td>100</td>
      <td>80</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>16</td>
      <td>3</td>
      <td>1</td>
      <td>100</td>
      <td>70</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>17</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>17</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>17</td>
      <td>2</td>
      <td>1</td>
      <td>100</td>
      <td>80</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>17</td>
      <td>3</td>
      <td>1</td>
      <td>100</td>
      <td>70</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>17</td>
      <td>4</td>
      <td>1</td>
      <td>100</td>
      <td>60</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>18</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>18</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>18</td>
      <td>2</td>
      <td>1</td>
      <td>100</td>
      <td>80</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>18</td>
      <td>3</td>
      <td>1</td>
      <td>100</td>
      <td>70</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>18</td>
      <td>4</td>
      <td>1</td>
      <td>100</td>
      <td>60</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>19</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>19</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>19</td>
      <td>2</td>
      <td>1</td>
      <td>100</td>
      <td>80</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>19</td>
      <td>3</td>
      <td>1</td>
      <td>100</td>
      <td>70</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>19</td>
      <td>4</td>
      <td>1</td>
      <td>100</td>
      <td>60</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>19</td>
      <td>5</td>
      <td>1</td>
      <td>100</td>
      <td>50</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>20</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>100</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>20</td>
      <td>1</td>
      <td>1</td>
      <td>100</td>
      <td>90</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>20</td>
      <td>2</td>
      <td>1</td>
      <td>100</td>
      <td>80</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>20</td>
      <td>3</td>
      <td>1</td>
      <td>100</td>
      <td>70</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>20</td>
      <td>4</td>
      <td>1</td>
      <td>100</td>
      <td>60</td>
      <td>100000</td>
    </tr>
    <tr>
      <td>20</td>
      <td>4</td>
      <td>1</td>
      <td>100</td>
      <td>50</td>
      <td>100000</td>

      </tr></tbody></table>
    </div>


</section>
{% endblock %}
