{% extends "lobby/dashboard/index.html" %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load mathfilters %}
{% block MINERVE_PAGE_SUBTITLE %}: Cashier - Funding Error!{% endblock %}
{% block DYNAMIC_DASHBOARD_BODY %}
<div class="card w-100 h-100 m-2 p-2" data-bs-theme="{{ MINERVE_BODY_THEME }}">
<div class="card w-90 m-2">
    <div class="card-header">
         <div class="alert alert-warning">
        <h4><i class="fa-duotone fa-solid fa-ban"></i>Insufficient tokens!</h4>
        <br/>
         You don't have enough tokens to exchange.
    </div>
    </div>
</div>

{% endblock %}
