{% extends "lobby/dashboard/index.html" %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load mathfilters %}
{% block MINERVE_PAGE_SUBTITLE %}: Cashier - Sell Tokens{% endblock %}

{% block DYNAMIC_DASHBOARD_BODY %}
<div class="card w-100 h-100 m-2 p-2" data-bs-theme="{{ MINERVE_BODY_THEME }}">
<form id="confirm_withdrawal" method="POST" action="/cashier/exchange/step2">
{% csrf_token %}
    <div class="card-header">
        <h1> <i class="fa-duotone fa-solid fa-books" style="color: #dd8fda;"></i> &#160; Sell Tokens:</h1>
        <p>You can use this interface to sell your tokens for your favourite cryptocurrency.</p>
        {%  if not cryptoParams.crypto_enabled %}
        <p>Cryptocurrency payments are disabled for this book; please contact support.</p>
        {%  else %}
                <div class="card-body">
                 <h4>Token to Crypto Exchange Information:</h4>
                        <table class="table table-striped table-responsive">
                            <tr>
                                <th>Base Exchange Ratio: </th>
                                <td><h5>1 {{ cryptoParams.token_base_currency }}  = {{cryptoParams.token_base_currency_xrate }} token(s)</h5></td>
                            </tr>

                            </table>
                                <h4>1. Enter desired amount of tokens to sell: </h4>
                                <p>All Withdrawals undergo human review and will be handled within 6 hours of reception.
                                    <br/>Amounts that are earmarked for withdrawal are held outside normal available tokens until the withdrawal request is processed or refunded if the request is cancelled.
                                <br/>For the most expedited service please contact support after placing your withdrawal request.</p>
                                <h5>Maximum Amount available to sell: {{ account.withdrawable|floatformat:0|intcomma:3 }} Tokens </h5>
                                    <div class="input-group mb-3">
                                      <span class="input-group-text">Exchange: </span>
                                      <input type="number" id="xchange_amount" name="xchange_amount" class="form-control" aria-label="Amount to exchange" value="0" min="0" max="{{ account.withdrawable }}" required/>
                                      <span class="input-group-text">Tokens</span>
                                    </div>


                        <div class="d-flex justify-content-start">
                        <button type="button" class="btn btn-primary m-1" onclick='$("#xchange_amount")[0].value = {{ account.withdrawable|mul:.25|floatformat:0}};'>Set to 25%</button>
                        <button  type="button"  class="btn btn-bd-primary m-1" onclick='$("#xchange_amount")[0].value = {{ account.withdrawable|mul:.5|floatformat:0}};'>Set to 50% </button>
                        <button  type="button"  class="btn btn-primary m-1" onclick='$("#xchange_amount")[0].value = {{ account.withdrawable|mul:.75|floatformat:0}};'>Set to 75%</button>
                        <button  type="button"  class="btn btn-bd-primary m-1" onclick='$("#xchange_amount")[0].value = {{ account.withdrawable|floatformat:0}};'>Set to 100%</button>
                        </div>
                        <br/>
                        <h5>2. Specify where to receive your crypto:</h5>
                        <p>We calculate the exchange rate against our reference crypto, {{ cryptoParams.token_base_currency }}.
                            <br/>But we offer withdrawals in several major cryptocurrencies. Please specify your <strong>Cryptocurrency</strong>  and your <strong>Wallet Address</strong> below:
                        <div class="alert alert-warning" role="alert">
                            <i class="fa-duotone fa-regular fa-triangle-exclamation"></i>Please double check your Token, Network and Wallet address! We can't recover lost funds sent to the wrong destination!
                        </div>
                        <h5>Select Crypto and Network:</h5>
                            <div class="input-group mb-3">
                              <span class="input-group-text">Crypto: </span>
                                <select class="form-select" id="dest_crypto" name="dest_crypto" required>
                                    <option value="">select...</option>
                                    {% for token in tokens %}
                                        <option value="{{ token.symbol }}">{{ token.name }} ({{token.symbol}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        <h5>Enter Destination Wallet:</h5>
                            <div class="input-group mb-3">
                              <span class="input-group-text">Wallet Address: </span>
                              <input type="text" id="wallet_address_1" name="wallet_address_1" class="form-control" aria-label="Destination Address" required />

                            </div>
                    </div>
                    <div class="d-flex">
                        <button type="submit" class="btn btn-bd-primary w-100">Confirm Withdrawal</button>
                    </div>

                    </div>
            </form>
            </div>

        {% endif %}


{% endblock %}

{% block DYNAMIC_DASHBOARD_SIDE_MENU_HEADER %}
    <div class="row">
    <div class="col pt-2 pb-2">
    <a class="nav-link" href="/my/profile" title="My Account"><i class="fa-duotone fa-solid fa-circle-user pe-2"></i> #{{ account.acctnum }}</a>
    </div>
    <div class="col pt-2 pb-2">
        <a href="#" onclick="{% if vdomain.demo_mode %}alert('Cashier disabled in Demo.') {% else %} cashier.start_deposit_modal() {% endif %}" id="balance-link" title="Available Balance">
        <i class="fa-duotone fa-solid fa-coins pe-2"></i><span class="avail_balance">Balance: {{ available_balance |floatformat:2 }}</span></a>
    </div>
    </div>
    <hr class="border-2 border-opacity-50 border-success"/>
{% endblock %}