{% extends "minerve/pages/responsive_dashboard/index.html" %}
{% load crispy_forms_tags %}

{% block DYNAMIC_DASHBOARD_PRE_BODY %}

{% endblock %}
{% block DYNAMIC_DASHBOARD_BODY %}

<h1 class="text-info">Graded Tickets</h1>
<div class="w-100 h-100 row gx-0 pe-0 me-0" id="anchor" style="overflow-x: auto; overflow-y: auto;">


</div>


{% include "gdlfront/dashboard/play_app/offcanvas_cart.html" %}
<script src="/static/minerve/js/components/dynamic_dashboard/helper.js"></script>
<script type="module" src="/static/gdlfront/js/gdl_backend-prev.js" type="module"/>
{% endblock %}
{% block MINERVE_PAGE_FOOTER %}

    {% include "lobby/dashboard/account/login/signup_modal.html" %}
    {% include "minerve/pages/dynamic_dashboard/loading_toast.html" %}
{% endblock %}
{% block MINERVE_NAV_PAGE_NAME %}
    <span class="navbar-brand"><i class="fa-duotone fa-solid fa-table-list" aria-hidden="true"></i> <span class="text-decoration-underline">Graded Tickets</span></span>
{% endblock %}
{% block bootstrap5_title %}
    {{ vdomain.website_name }}: Graded Tickets
{% endblock %}
{% block DYNAMIC_DASHBOARD_SIDE_MENU_HEADER %}
{% include "lobby/dashboard/components/account_sidebar_header.html" %}
{% endblock %}