{% load i18n %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.12.5/build/css/intlTelInput.css">
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@25.12.5/build/js/intlTelInput.min.js"></script>
<div class="card-header">
        <h1> <i class="fa-duotone fa-solid fa-star" style="color: #dd8fda;"></i>{% translate "Earn Points" %}</h1>
        <h5>{{vdomain.website_name}}, {% translate "is exclusively a free-to-play site!" %}</h5>
        <p>{% translate "You may earn more points to play as per the table below:" %}</p>
</div>
<div class="d-flex justify-content-center w-100">
<div class="col-10 col-lg-5">
<table class="table table-dark table-hover table-responsive table-striped">
    <thead>
    <tr>
        <th scope="col">{% translate "Action:" %}</th>
        <th scope="col">{% translate "Points:" %}</th>
        <th scope="col">{% translate "Eligiblity:" %}</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><i class="fa-duotone fa-solid fa-envelope"></i>{% translate "Register your Email:" %}</th>
            <td>{% translate "1,500 Points" %}</td>
            <td class="text-success"><i class="fa-solid fa-duotone fa-check-square"></i>{% translate "Already claimed!" %}</td>
        </tr>
        <tr>
            <th scope="row"><i class="fa-duotone fa-solid fa-phone"></i>{% translate "Verify your phone with SMS:" %}</th>
            <td>{% translate "2,500 Points" %}</td>
                {% if account.mobile %}
                    <td class="text-success"><i class="fa-solid fa-duotone fa-check-square"></i>{% translate "Already claimed!" %}</td>
                {% else %}
                    <td>
                    <button class="btn btn-success" onclick="account.mobile_phone_register_modal();"><i class="fa-solid fa-duotone fa-check"></i>{% translate "Claim Now!" %}</button>
                    </td>
                {% endif %}

        </tr>
        <tr>
            <th scope="row"><i class="fa-brands fa-telegram"></i>{% translate "Verify your phone with Telegram:" %}</th>
            <td>{% translate "1,000 Points" %}</td>
            {% if not account.mobile %}
                <td class="text-success">{% translate "Enter your Phone above to claim!" %}</td>

            {% elif account.telegram_validated %}
                    <td class="text-success"><i class="fa-solid fa-duotone fa-check-square"></i>{% translate "Already claimed!" %}</td>
                {% else %}
                    <td>
                    <button class="btn btn-success" onclick="account.mobile_phone_validate_modal();"><i class="fa-solid fa-duotone fa-check"></i>{% translate "Claim Now!" %}</button>
                    </td>
                {% endif %}
        </tr>
        {% if referred %}
            <tr>
            <th scope="row"><i class="fa-duotone fa-solid fa-users"></i>{% translate "Referred by a friend:" %}</th>
            <td>{% translate "500 Points" %}</td>
            <td class="text-success"><i class="fa-solid fa-duotone fa-check-square"></i>{% translate "Already claimed!" %}</td>
            </tr>
        {%endif %}
        {% for ref in referrals %}
            <tr>
            <th scope="row"><i class="fa-duotone fa-solid fa-users"></i>{% translate "Referred a friend to the game!" %}</th>
            <td>{% translate "2,500 Points" %}</td>
            <td class="text-success"><i class="fa-solid fa-duotone fa-check-square"></i>{% translate "Already claimed!" %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
<script type="module" src="/static/myaccount/js/MyAccount/loader.js">
</script>
