{% extends "sportslottonet/base/page.html" %}
{% load static %}
{% block bootstrap5_title %} SPORTSLOTTO: Refer a Friend {% endblock %}
{% block PAGE_BODY %}

<section id="sportslotto-rules-v1" style="
  padding: 20px;
  background: rgba(0,0,0,0.35); /* darker background separate from main page */
  font-family:'Poppins',sans-serif;
">

  <div class="rules-card" style="
    max-width:900px;
    margin:0 auto;
    background: rgba(255,255,255,0.06);
    border-radius:20px;
    backdrop-filter:blur(20px);
    padding:20px 20px;
    text-align:left;
  ">
    <h1 style="
       font-size:1.5rem;
      margin-bottom:25px;
      font-weight:700;
    ">Refer-a-Friend Rules</h1>



    <ul style="line-height:1.7; margin-bottom:0; padding-left:1.5rem;">
      <li>The prize for referring a valid account is 2,500 points that can be used to purchase tickets; a one-time rollover must be completed, and funds can be withdrawn.</li>
      <li>A new signup that is referred will receive an extra 500 points in addition to the normal 4,000 points a player receives for signing up.</li>
      <li>Clients that refer friends must have a valid account in good standing.</li>
      <li>Account verification can be requested for any participant of the Refer-a-Friend bonus program.</li>
      <li>Referrer and referred clients must provide a valid phone number and email.</li>
      <li>Not all regions will qualify for the Refer-a-Friend promotion.</li>
      <li>Note that duplicate accounts are not permitted on the site and any winnings coming from a duplicate account will have any winnings voided. </li>
      <li>Clients that cash out from this promotion are subject to the make-up rule on affiliated sites.</li>
      <li>Clients must be of legal age in their jurisdiction to participate in any bonus programs.</li>
      <li>Clients can be removed from the program at any time without prior notice.</li>
      <li>No syndicate or ring group activity will be allowed.</li>
      <li>There is no limit on the number of friends you can refer as long as they are valid accounts.</li>
      <li>The rate of points per dollar value is 100:1.</li>
      <li>Minimum withdrawal is $50 in Amazon gift cards.</li>
      <li>All withdrawals are subject to our Terms and Conditions.</li>
      <li>The RAF bonus has no maximum cashout amount.</li>
      <li>These terms are subject to change at any time without prior notice.</li>
      <li>We reserve the right to cancel your participation for this or any program at any time without prior notice.</li>
      <li>This promotion is subject to our Terms and Conditions. Please click <a href="https://sportslotto.net/terms-and-conditions" style="color:var(--color-accent); text-decoration:underline;">here</a> to view the complete details.</li>
    </ul>
  </div>
</section>
{% endblock %}
